/**************************TAG SELECTORS************************/
body {
  background-color: #FFF9CA;
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
  font-size: 120%
}

hr {
  border: 8px dotted;
  border-style: dotted none none none;
  width: 8%;
  color: grey;
}
h1{
  color: #66BFBF;
  font-size: 4.8rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: "montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: "montserrat", sans-serif;
}
a {
  color: #11999E;
  margin: 0 20px;
  text-decoration: none;
  font-family: "Merriweather",serif;
}
a:hover{
  color: #EAF6F6;
}


span {
  text-decoration: underline;
}


/**************************CLASS SELECTORS**********************/
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.top-container {
  background-color: #C1EFFF;
  margin: 0;
}
.upper-cloud{
  position: relative;
left: 290px;
top: 50px;
}

.bottom-cloud{
  position: relative;
  right: 340px;
  top: 25px;
}
.teenager-img {
  width: 15%;
}

.middle-container {
  margin: 50px auto 50px;
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 40px;
}
.game-img{
  width: 30%;
  float: right;
  margin-left: 40px;

}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 29px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  background-color: #3cb0fd;
  padding: 60px 0 10px;
}
.pb-c {

  padding: 20px 0 10px;
  font-size: 0.80rem;
  color: #EAF6F6;
}



/**************************IDs SELECTORS************************/
